{% set container_tag=language_version + '-' + os_release_id + os_release_version_id %}
setup:{{ language_name }}:{{ language_version }}-{{ os_release_id }}{{ os_release_version_id }}:
  image: docker:git
  services:
  - docker:18.09.7-dind
  stage: setup
  rules:
  - if: "${{ language_name|upper }}_VERSIONS =~ /.*{{ language_version }}.*/ && $OS_{{ os_release_id|upper }}_VERSIONS =~ /.*{{ os_release_version_id }}.*/"
  before_script:
  - apk add make curl
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  variables:
    CONTAINER_SRC_TAG: "{{ container_src_tag }}"
    CONTAINER_DST_TAG: "{{ container_dst_tag }}"
  script:
  - set -e
  - make depschecksums
  - export CONTAINER_BASE_IMAGE={{ container_image_repo }}:$CONTAINER_SRC_TAG
  - export CONTAINER_BRANCH_IMAGE=$CI_REGISTRY_IMAGE/branches/$CI_COMMIT_REF_SLUG
  - export DOCKER_BASE_TAG=$CONTAINER_SRC_TAG
  - export DOCKER_REPOSITORY=$(md5sum < CHECKSUMS | awk '{ print $1 }')
  - export DOCKER_URL="$CI_REGISTRY_IMAGE/env/$DOCKER_REPOSITORY:$CONTAINER_DST_TAG"
  - export OS_RELEASE_ID={{ os_release_id }}
  - export OS_RELEASE_VERSION={{ os_release_version_id }}
  - echo "Building $DOCKER_URL"
  - >-
    if ! docker pull $DOCKER_URL 2>/dev/null; then
      make gitlab-docker-image GITLAB_RUNNER_IMAGE_URL="$DOCKER_URL"
    fi
  - docker tag $DOCKER_URL $CONTAINER_BRANCH_IMAGE:{{ container_tag }}
  - docker push $CONTAINER_BRANCH_IMAGE:{{ container_tag }}


test:unit:{{ language_name }}:{{ language_version }}-{{ os_release_id }}{{ os_release_version_id }}:
  image:
    name: $CI_REGISTRY_IMAGE/branches/$CI_COMMIT_REF_SLUG:{{ container_tag }}
    entrypoint: [""]
  stage: test
  rules:
  - if: "${{ language_name|upper }}_VERSIONS =~ /.*{{ language_version }}.*/ && $OS_{{ os_release_id|upper }}_VERSIONS =~ /.*{{ os_release_version_id }}.*/"
  script: make test-unit
  needs: ["setup:{{ language_name }}:{{ language_version }}-{{ os_release_id }}{{ os_release_version_id }}"]
  artifacts:
    paths:
    - .coverage-$CI_JOB_ID


test:integration:{{ language_name }}:{{ language_version }}-{{ os_release_id }}{{ os_release_version_id }}:
  image:
    name: $CI_REGISTRY_IMAGE/branches/$CI_COMMIT_REF_SLUG:{{ container_tag }}
    entrypoint: [""]
  stage: test
  rules:
  - if: "${{ language_name|upper }}_VERSIONS =~ /.*{{ language_version }}.*/ && $OS_{{ os_release_id|upper }}_VERSIONS =~ /.*{{ os_release_version_id }}.*/"
  script: make test-integration
  needs: ["setup:{{ language_name }}:{{ language_version }}-{{ os_release_id }}{{ os_release_version_id }}"]
  artifacts:
    paths:
    - .coverage-$CI_JOB_ID
