test:{{ rdbms_name }}:{{ rdbms_version }}:
  stage: test
  image:
    name: $CI_REGISTRY_IMAGE/branches/$CI_COMMIT_REF_SLUG:latest
    entrypoint: [""]
  rules:
  - if: $RDBMS_POSTGRESQL_VERSIONS =~ /.*{{ rdbms_version }}.*/
  services:
  - name: {{ rdbms_image }}
    alias: {{ rdbms_hostname }}
  variables:
    TEST_SCOPE: rdbms
    DB_ENGINE: postgresql
    DB_HOST: {{ rdbms_hostname }}
    DB_PORT: "5432"
    POSTGRES_DB: $DB_NAME
    POSTGRES_USER: $DB_USERNAME
    POSTGRES_PASSWORD: $DB_PASSWORD
  script: make test-system
  needs: ["setup:ref"]
  artifacts:
    paths:
    - .coverage-$CI_JOB_ID
